{% extends 'layout.html' %}
{% block title %}Logs{% endblock %}
{% block content %}
  <section>
  <h1>Call for Contributions</h1>
    <div id="hadrian-issues">
        <h3>Hadrian's easy issues</h3>
    </div>
    <div id="hadrians-wall-issues">
        <h3>Hadrian's Wall's easy issues</h3>
    </div>
  </section>

  <section>
  <h1>Build History</h1>
  <table id="logs-table">
    <tr>
      <th>Time Started</th>
      <th>Build Type</th>
      <th>Length (min)</th>
      <th>Status</th>
      <th>Log files</th>
    </tr>
  </table>
  </section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.0/d3.min.js"></script>
<script type="text/javascript">

    function createAnchor(url, text) {
        var a = document.createElement('a');
        a.appendChild(document.createTextNode(text));
        a.href = url;
        return a;
    }

    function listLogs() {
        var req = new XMLHttpRequest();
        req.onload = function(e) {
            var logs = JSON.parse(this.responseText).reverse();
            logs.forEach(function(log) {
                var tdTime = document.createElement('td');
                tdTime.style.width = "30%";
                time = new Date(log.time);
                tdTime.appendChild(document.createTextNode(time.toUTCString()));

                var tdType = document.createElement('td');
                tdType.style.width = "10%";
                tdType.appendChild(document.createTextNode(log.type));

                var tdLength = document.createElement('td');
                tdLength.style.width = "10%";
                tdLength.appendChild(document.createTextNode(log.length.toFixed(2)));

                var tdStatus = document.createElement('td');
                tdStatus.style.width = "10%";
                tdStatus.className = "status-" + log.status;
                tdStatus.appendChild(document.createTextNode(log.status));

                var tdLinks = document.createElement('td');
                tdLinks.style.width = "10%";
                tdLinks.appendChild(createAnchor("logs/" + log.prefix + ".out.log", "stdout"));
                tdLinks.appendChild(document.createTextNode(", "));
                tdLinks.appendChild(createAnchor("logs/" + log.prefix + ".err.log", "stderr"));

                var row = document.createElement('tr');
                row.appendChild(tdTime);
                row.appendChild(tdType);
                row.appendChild(tdLength);
                row.appendChild(tdStatus);
                row.appendChild(tdLinks);

                document.getElementById("logs-table").appendChild(row);
            });
        };

        req.open('GET', "list");
        req.send();
    }

  function listIssues(url, elementId) {
      var req = new XMLHttpRequest();

      req.onload = function(e) { 
        var issues = JSON.parse(this.responseText);
        issues.forEach(function(issue) {
            var a = createAnchor(issues.html_url, "#" + issue.number + " " + issue.title);
            var node = document.createElement("li"); 
            node.appendChild(a);
            document.getElementById(elementId).appendChild(node);
        });
      };

      req.open('GET', url);
      req.send();
  }

  listLogs();
  listIssues('https://api.github.com/repos/snowleopard/hadrian/issues?labels=easy', "hadrian-issues");
  listIssues('https://api.github.com/repos/izgzhen/hadrians-wall/issues?labels=easy', "hadrians-wall-issues");


// set the dimensions and margins of the graph
var margin = {top: 20, right: 20, bottom: 50, left: 70},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;
    // Set the ranges
    var x = d3.scaleTime().range([0, width]);
    var y = d3.scaleLinear().range([height, 0]);

    // Define the axes
    var xAxis = d3.axisBottom(x).ticks(5);

    var yAxis = d3.axisLeft(y).ticks(5);

    // Define the line
    var valueline = d3.line()
        .x(function(d) { return x(d.time); })
        .y(function(d) { return y(d.length); });

    // Adds the svg canvas
    var svg = d3.select("body")
        .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
        .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.top + ")");

    // Get the data
    function draw() {
      var req = new XMLHttpRequest();

      req.onload = function(e) {
        var logs = JSON.parse(this.responseText);

        var data = logs.filter(function (log) {
            return log.status == "success" && log.type =="default";
        }).map(function(log) {
            return {
                time: d3.isoParse(log.time),
                length: log.length
            };
        });

        // Scale the range of the data
        x.domain(d3.extent(data, function(d) { return d.time; }));
        y.domain([0, d3.max(data, function(d) { return d.length; })]);

        // Add the valueline path.
        svg.append("path")
            .attr("class", "line")
            .attr("d", valueline(data));

        // Add the X Axis
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        svg.append("text")
            .attr("transform",
                "translate(" + (width/2) + " ," +
                               (height + margin.top + 20) + ")")
            .style("text-anchor", "middle")
            .text("Date");

        // Add the Y Axis
        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis);

        // text label for the y axis
        svg.append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 0 - margin.left)
            .attr("x",0 - (height / 2))
            .attr("dy", "1em")
            .style("text-anchor", "middle")
            .text("Minutes spent on default type");
      };

      req.open('GET', "list");
      req.send();
    }

    draw();

</script>

{% endblock %}
